VUE_APP_AWS_REGION=ap-northeast-2
VUE_APP_S3_BUCKET_NAME=your-bucket-name
VUE_APP_IDENTITY_POOL_ID=your-identity-pool-id  # 생략 가능
VUE_APP_THUMBNAIL_PREFIX=thumb/

# 개발 환경에서만 사용 (실제 서비스에는 사용하지 마세요)
VUE_APP_AWS_ACCESS_KEY=YOUR_ACCESS_KEY_ID
VUE_APP_AWS_SECRET_KEY=YOUR_SECRET_ACCESS_KEY 